.red {
    background-color: red;
}
.grey {
    background-color: grey;
}
.blue {
    background-color: blue;
    color: #fff
}
.yellow {
    background-color: yellow;
}
.pink {
    background-color: pink;
}