<nav>
    <h3>LOGO</h3>
    <ul>
        <li>
            <a routerLinkActive="active" routerLink="home-page" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="about-us">About Us</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="contact-us">Contact Us</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="user-login">Login</a>
        </li>
    </ul>
</nav>